html {
    height: 100%;
}

header {
    background-color: rgb(49, 124, 204);
    flex-grow: 0;
}

div#budy {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
}

div#budy>main>div>div#news {
    background-color: white;
    color: rgb(11, 106, 194);
    float: right;
    width: 40%;
    margin: 30px;
    padding: 10px;
    border-style: solid;
    border-color: rgb(195, 225, 234);
    border-radius: 8px;
    border-width: 5px;
}

div#budy>div>div#beschreibung {
    background-color: white;
    color: rgb(11, 106, 194);
    float: right;
    width: 60%;
    margin: 30px;
    padding: 10px;
    border-style: solid;
    border-color: rgb(195, 225, 234);
    border-radius: 8px;
    border-width: 5px;
}

div#budy>div#ueberuns {
    background-color: white;
    color: rgb(11, 106, 194);
    float: left;
    margin: 30px;
    padding: 10px;
    border-style: solid;
    border-color: rgb(195, 225, 234);
    border-radius: 8px;
    border-width: 5px;
}

div#budy>div>div#link123 {
    background-color: white;
    color: rgb(11, 106, 194);
    float: right;
    width: fit-content;
    margin: 30px;
    padding: 10px;
    border-style: solid;
    border-color: rgb(195, 225, 234);
    border-radius: 8px;
    border-width: 5px;
}

div#budy>main>div#about {
    background-color: white;
    color: rgb(11, 106, 194);
    float: left;
    margin: 30px;
    padding: 10px;
    border-style: solid;
    border-color: rgb(195, 225, 234);
    border-radius: 8px;
    border-width: 5px;
}

div#budy>header>nav>div>ul>li>a {
    color: white !important;
    font-size: 25px;
}

div#budy>header>nav>div>ul>li:hover {
    text-decoration: underline;
    cursor: pointer;
}

main {
    flex-grow: 2;
}

div.container.text-muted {
    flex-grow: 1;
}

#scrollPath {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
}

#progressbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0%,
    100% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(360deg);
    }
}

#progressbar:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(30px);
}

#progressbar:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(30px);
}

iframe {
    width: 100%;
    height: 450px;
    border: 0;
}

.tab-content div.card-div#budy {
    border-style: solid;
    border-color: rgb(195, 225, 234);
    border-radius: 8px;
    border-width: 5px;
    padding: 20px;
}

div#ueberuns>img {
    max-width: 30%;
    margin: 30px 20px 20px 30px;
}

div#footer {
    background-color: rgb(49, 124, 204);
    padding: 20px;
    margin-top: 20px;
    flex-shrink: 0;
}

div#footer p#rechts {
    float: right;
}

div#footer p#links {
    float: left;
}

.timabs {
    margin-bottom: 15px;
}

footer a {
    color: white!important;
}

*.tab-content img {
    max-width: 500px;
    width: 100%;
    border-radius: 7px;
    margin: 20px;
}

.tuebermich {
    width: 100%;
    border-style: solid;
    border-color: rgb(195, 225, 234);
    border-radius: 8px;
    border-width: 5px;
    padding: 20px;
}

.luebermich {
    padding: 20px;
}

.timmark.container-fluid {
    padding: 0px;
    margin: 10px 10px;
}

.nav-link:hover {
    text-decoration: underline;
}

.tab-content img#fabio {
    height: 134px!important;
    width: 100px!important;
}

.tab-content img#timon {
    max-width: 300px!important;
}

#cheyenne {
    width: 15%;
}

#themebilder {
    float: left;
    width: 25%;
}

#schriftmen {
    font-size: 1rem;
}

.blah {
    width: 130%;
    padding-left: 0px;
}

div#budy {
    margin: 0;
    padding: 0;
}

#menuToggle {
    display: block;
    position: fixed;
    margin-top: 220px;
    top: 50px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: #cdcdcd;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 100px;
    padding-bottom: 10px;
    background: rgb(49, 124, 204);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 4px 0;
    font-size: 15px;
}

#menuToggle input:checked~ul {
    transform: none;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 50px;
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    padding-right: 40px;
}

#myBtn:hover {
    cursor: pointer;
    transition: 0.5s;
    font-size: 60px;
}

.blah img {
    max-width: 100%;
    max-height: auto;
}

.tcode {
    overflow: auto;
    font-weight: bold;
    filter: invert(1);
    background: white;
    margin: 10px 0;
}

font[color=silver] {
    color: black;
}
th, td {
    padding: 7px;
}
tr:nth-child(even) {
    background-color: #dddddd;
  }
@media (max-width: 992px) {
    #flexnav1{
        display: flex;
        flex-direction: column;
        width: 0;
        float: left;
        overflow: initial;
    }
    #navabstand {
        float: left;
        width: 0;
        height: 700px;
    }
    #stick {
        overflow: initial;
        display: flex;
        align-items: flex-start;
        width: 0;
        height:6200px;
        float: left;
        margin-top: 5px;
    }
    #menuToggle {
        position: -webkit-sticky;
        position: sticky;
        bottom: 1rem;
        margin: 5px;
    }
}
@media (max-height: 787px) {
    #menu li {
        padding: 0;
    }
}