header {
  background-color: rgb(49, 124, 204);
}
body {
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body>main>div>div#news {
  background-color: white;
  color:  rgb(11, 106, 194);
  float: right;
  width: 40%;
  margin: 30px;
  padding: 10px;
  border-style: solid;
  border-color: rgb(195, 225, 234);
  border-radius: 8px;
  border-width: 5px; 
}
body>div>div#beschreibung {
  background-color: white;
  color:  rgb(11, 106, 194);
  float: right;
  width: 60%;
  margin: 30px;
  padding: 10px;
  border-style: solid;
  border-color: rgb(195, 225, 234);
  border-radius: 8px;
  border-width: 5px;
}
body>div#ueberuns {
  background-color: white;
  color:  rgb(11, 106, 194);
  float: left;
  margin: 30px;
  padding: 10px;
  border-style: solid;
  border-color: rgb(195, 225, 234);
  border-radius: 8px;
  border-width: 5px;
}
body>div>div#link123 {
  background-color: white;
  color:  rgb(11, 106, 194);
  float: right;
  width: fit-content;
  margin: 30px;
  padding: 10px;
  border-style: solid;
  border-color: rgb(195, 225, 234);
  border-radius: 8px;
  border-width: 5px;
}
body>main>div#about {
  background-color: white;
  color:  rgb(11, 106, 194);
  float: left;
  margin: 30px;
  padding: 10px;
  border-style: solid;
  border-color: rgb(195, 225, 234);
  border-radius: 8px;
  border-width: 5px;
}
body>header>nav>div>ul>li>a{
  color: white !important;
  font-size: 25px;
}
body>header>nav>div>ul>li:hover {
text-decoration: underline;
cursor: pointer;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: rgb(49, 124, 204);
  margin-top: auto;
}

#scrollPath {
position: fixed;
top: 0;
right: 0;
width: 10px;
height: 100%;
background: rgba(255,255,255,0.05);
}

#progressbar {
position: fixed;
top: 0;
right: 0;
width: 10px;
background: linear-gradient(to top, #008aff, #00ffe7);
animation: animate 5s linear infinite;
}

@keyframes animate {
0%,100% {
  filter: hue-rotate(0deg);
}
50% {
  filter: hue-rotate(360deg);
}
}

#progressbar:before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: linear-gradient(to top, #008aff, #00ffe7);
filter: blur(30px);
}

#progressbar:after {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: linear-gradient(to top, #008aff, #00ffe7);
filter: blur(30px);
}
iframe {
  width: 100%;
  border-radius: 10px;
}
.tab-content div.card-body {
  border-style: solid;
  border-color: rgb(195, 225, 234);
  border-radius: 8px;
  border-width: 5px;
}
div#ueberuns>img {
  max-width: 30%;
  margin: 30px 20px 20px 30px;
}
div#footer {
  background-color: rgb(49, 124, 204);
  padding: 20px;
}
div#footer p#rechts {
float: right;
}
div#footer p#links {
  float: left;
  }